@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*@function icon($size, $line-height) {
  @return map-get($sizes, $size);
  @return map-get($sizes, $line-height);
}
@mixin icon {
  width: map-get($sizes, sm);
  height: map-get($sizes, sm);
  background: $indigo;
  color: $white;
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  font-size: 18px;
  line-height: map-get($sizes, sm);
  padding: 5px;
  text-align: center;
  transition: all ease 300ms;
  &:hover {
    background: $primary;
    cursor: pointer;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*@function icon($size, $line-height) {
  @return map-get($sizes, $size);
  @return map-get($sizes, $line-height);
}
@mixin icon {
  width: map-get($sizes, sm);
  height: map-get($sizes, sm);
  background: $indigo;
  color: $white;
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  font-size: 18px;
  line-height: map-get($sizes, sm);
  padding: 5px;
  text-align: center;
  transition: all ease 300ms;
  &:hover {
    background: $primary;
    cursor: pointer;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
*/
.sideContent {
  position: relative;
}
.sideContent-top {
  position: relative;
}
.sideContent-top-image {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.sideContent-top-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(1, 216, 95, 0.9);
  clip-path: polygon(0 0, 0 40%, 45% 0);
}
.sideContent-top-social {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: none;
  bottom: -10px;
  left: 20px;
}
.sideContent-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.sideContent-bottom-buttonGroup {
  position: relative;
  bottom: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sideContent-bottom-buttonGroup button {
  margin: 2px;
}

.progress {
  background-color: #343a40;
  margin: 5px auto;
  border-radius: 30px;
  padding: 10px;
}

header {
  box-shadow: -3px 2px 21px 4px rgb(32, 30, 41);
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  background-color: #201e29;
}

ul {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 30px;
}
ul li {
  margin-right: 10%;
  position: relative;
}
ul li a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 99;
}
ul li span {
  color: #3F979B;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  top: -15px;
  left: -20px;
  opacity: 0.3;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: none;
  text-align: none;
  width: 10%;
  background: #292633;
}
.icons button {
  font-size: 65px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*@function icon($size, $line-height) {
  @return map-get($sizes, $size);
  @return map-get($sizes, $line-height);
}
@mixin icon {
  width: map-get($sizes, sm);
  height: map-get($sizes, sm);
  background: $indigo;
  color: $white;
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
  font-size: 18px;
  line-height: map-get($sizes, sm);
  padding: 5px;
  text-align: center;
  transition: all ease 300ms;
  &:hover {
    background: $primary;
    cursor: pointer;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
*/
.about-details {
  padding: 10px;
}
.about-details-content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}
.about-details-content-box {
  display: flex;
  justify-content: none;
  align-items: center;
  text-align: none;
}
.about-details-content-box-text {
  margin-left: 20px;
}
.about-details-content-box-text h4 {
  font-weight: 500;
}
.about-details-content-box-text p {
  color: #808080;
}
.about-details-bio {
  margin: 50px 0;
}
.about-details-bio-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.about-details-bio-box p {
  color: #808080;
  font-size: 14px;
  line-height: 2;
}
.about-services-boxs {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 30px;
}
.about-services-boxs .card {
  padding: 20px;
  background: #292633;
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.about-services-boxs .card p {
  font-size: 15px;
  line-height: 2;
  margin: 10px 0;
  color: #808080;
}
.about-services-boxs .card h3 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 17px;
}
.about-services-boxs .card label {
  color: #01d85f;
}
.about-services-boxs .card:hover {
  border-radius: 2px 2px 10px 10px;
  border-bottom-color: #7635f5;
  box-shadow: -3px 2px 21px 4px rgb(32, 30, 41);
}
.about-services-boxs .icon {
  width: 70px;
  height: 70px;
  background: #201e29;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 25px;
  line-height: 70px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  color: #7635f5;
}
.about-services-boxs .icon:hover {
  background: #7635f5;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.about-services-boxs .icon:hover {
  color: #fff;
}
.about-sider {
  position: relative;
  margin: 50px 0;
  width: 100%;
}
.about-sider-content .card {
  padding: 30px 0;
  background: none;
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: none;
  text-align: none;
  position: relative;
}
.about-sider-content .card p {
  font-size: 15px;
  line-height: 2;
  margin: 10px 0;
  color: #808080;
}
.about-sider-content .card h3 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 17px;
}
.about-sider-content .card label {
  color: #01d85f;
}
.about-sider-content .card img {
  border-radius: 50%;
  margin-right: 30px;
}
.about-sider-content .card::after {
  content: "❝";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: url("../Assets/Images/back.png");
  background-size: contain;
}
.about-sider-content .card p {
  font-style: italic;
}
.about-sider-content-slideButton {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
}
.about-sider-content-slideButton button {
  float: right;
  width: 40px;
  height: 40px;
  background: #01d85f;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 22px;
  line-height: 40px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  border-radius: 0;
  margin: 5px;
  border-radius: 5px;
}
.about-sider-content-slideButton button:hover {
  background: #7635f5;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.about-price-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.about-price .cards {
  padding: 30px;
  background: #292633;
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.about-price .cards p {
  font-size: 15px;
  line-height: 2;
  margin: 10px 0;
  color: #808080;
}
.about-price .cards h3 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 17px;
}
.about-price .cards label {
  color: #01d85f;
}
.about-price .cards i {
  font-size: 80px;
  color: #7635f5;
}
.about-price .cards h1 {
  font-size: 40px;
}
.about-price .cards button {
  position: relative;
  height: 45px;
  background: none;
  line-height: 45px;
  padding: 0 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
  color: #01d85f;
  text-decoration: underline;
  letter-spacing: 1px;
}
.about-price .cards button span {
  margin-left: 10px;
  position: relative;
  z-index: 99;
}
.about-price .cards button_bicon {
  font-size: 22px;
  position: relative;
  z-index: 99;
}
.about-price .cards button::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  left: auto;
  right: 0;
  background: none;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  border-radius: 2px;
}
.about-price .cards button:hover:after {
  width: 100%;
  left: 0;
  right: auto;
  color: #fff;
  border-radius: 2px;
}
.about-price .cards button .icons {
  font-size: 20px;
}

body {
  background: url("../Assets/Images/bg.png") no-repeat fixed top center #34313f;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  background: none;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #01d85f;
}

ul,
button {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  background: none;
}

.main-div {
  display: flex;
  justify-content: space-between;
  align-items: none;
  text-align: none;
  width: 90%;
  margin: auto;
  padding: 40px;
}
.main-div .side {
  width: 25%;
  background-color: #292633;
  height: 105vh;
  box-shadow: -3px 2px 21px 4px rgb(32, 30, 41);
}

.main {
  width: 72%;
}

.github {
  width: 50px;
  height: 50px;
  background: #ff43cb;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 18px;
  line-height: 50px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  background: #18122B;
}
.github:hover {
  background: #01d85f;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.hackerank {
  width: 50px;
  height: 50px;
  background: #ff43cb;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 18px;
  line-height: 50px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  background: #1F8A70;
}
.hackerank:hover {
  background: #01d85f;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.linkedin {
  width: 50px;
  height: 50px;
  background: #ff43cb;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 18px;
  line-height: 50px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  background: #8EA7E9;
}
.linkedin:hover {
  background: #01d85f;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.instagram {
  width: 50px;
  height: 50px;
  background: #ff43cb;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 18px;
  line-height: 50px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
  background: #F55050;
}
.instagram:hover {
  background: #01d85f;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.button {
  position: relative;
  height: 45px;
  background: #7635f5;
  line-height: 45px;
  padding: 0 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.button span {
  margin-left: 10px;
  position: relative;
  z-index: 99;
}
.button_bicon {
  font-size: 22px;
  position: relative;
  z-index: 99;
}
.button::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  left: auto;
  right: 0;
  background: #01d85f;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  border-radius: 2px;
}
.button:hover:after {
  width: 100%;
  left: 0;
  right: auto;
  color: #fff;
  border-radius: 2px;
}

.container, .pages {
  box-shadow: -3px 2px 21px 4px rgb(32, 30, 41);
  padding: 30px;
  background: #201e29;
  margin-top: 30px;
}

.heading {
  font-weight: 700;
  font-size: 15px;
  color: #01d85f;
  line-height: 0.8;
  margin: 0 0 35px;
  position: relative;
  padding: 0 0 13px;
  text-transform: capitalize;
}
.heading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 7px;
  top: 30px;
  background-image: url("../Assets/Images/heading.png");
  background-size: contain;
}

.icon {
  width: 60px;
  height: 60px;
  background: #7635f5;
  color: white;
  border-radius: 70% 30% 30% 70%/70% 70% 30% 30%;
  font-size: 22px;
  line-height: 60px;
  padding: 5px;
  margin: auto 3px;
  text-align: center;
  transition: all ease 300ms;
}
.icon:hover {
  background: #01d85f;
  cursor: pointer;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.pages {
  height: 90vh;
  font-size: 50px;
  color: #01d85f;
}/*# sourceMappingURL=main.css.map */