@import "config";
@import "side";
@import "header";
@import "home";

body {
  background: url("../Assets/Images/bg.png") no-repeat fixed top center $blue;
  color: set-text-color($white);
  font-family: $font-family-sans-serif;
}

a {
  @include defaultValue;
  @include trsansition;

  &:hover {
    color: $primary;
  }
}

ul,
button {
  @include defaultValue;
}

.main-div {
  @include flex(space-between, none, none);
  width: $w-4xl;
  margin: auto;
  padding: $p-xl;

  .side {
    width: $w-sm;
    background-color: $lightblue;
    height: 105vh;
    @include shadow;
  }
}

.main {
  width: $w-2xl;
}

$colors: (
   github: #18122B,
   hackerank: #1F8A70,
   linkedin: #8EA7E9,
   instagram: #F55050
);

@each $name, $color in $colors {
  .#{$name} {
    @include icons(50px, 50px, #ff43cb, 18px, 50px, $primary);
    background: $color;
  }
}

.button {
  @include button($indigo, map-get($sizes, 2xl), map-get($sizes, sm), map-get($sizes, sm), $primary);
}

.container {
  @include shadow;
  padding: 30px;
  background: $black;
  margin-top: 30px;
}

.heading {
  font-weight: 700;
  font-size: 15px;
  color: $primary;
  line-height: 0.8;
  margin: 0 0 35px;
  position: relative;
  padding: 0 0 13px;
  text-transform: capitalize;

  &::after {
    content: "";
    @include absolute;
    width: 50px;
    height: 7px;
    top: 30px;
    background-image: url("../Assets/Images/heading.png");
    background-size: contain;
  }
}

.icon {
  @include icons(60px, 60px, $indigo, 22px, 60px, $primary);
}

.pages {
  @extend .container;
  height: 90vh;
  font-size: 50px;
  color: $primary;
}