@import "config";
@import "side";

body {
  background: url("../Assets/Images/bg.png") no-repeat fixed top center $blue;
  color: set-text-color($white);
  font-family: $font-family-sans-serif;
}

a {
  @include defaultValue;
  @include trsansition;

  &:hover {
    color: $primary;
  }
}

ul,
button {
  @include defaultValue;
}

.main-div {
  @include flex(space-between, none, none);
  width: $w-4xl;
  margin: auto;
  padding: $p-xl;

  .side {
    width: $w-sm;
    background-color: $lightblue;
    height: 105vh;
    @include shadow;
  }
}
