@import "config";
@import "side";
@import "header";
@import "home";

body {
  background: url("../Assets/Images/bg.png") no-repeat fixed top center $blue;
  color: set-text-color($white);
  font-family: $font-family-sans-serif;
}

a {
  @include defaultValue;
  @include trsansition;

  &:hover {
    color: $primary;
  }
}

ul,
button {
  @include defaultValue;
}

.main-div {
  @include flex(space-between, none, none);
  width: $w-4xl;
  margin: auto;
  padding: $p-xl;

  .side {
    width: $w-sm;
    background-color: $lightblue;
    height: 105vh;
    @include shadow;
  }
}

.main {
  width: $w-2xl;
}

$colors: (
   github: #18122B,
   hackerank: #1F8A70,
   linkedin: #8EA7E9,
   instagram: #F55050
);

@each $name, $color in $colors {
  .#{$name} {
    @include icons(50px, 50px, #ff43cb, 18px, 50px, $primary);
    background: $color;
  }
}

.button {
  @include button($indigo, map-get($sizes, 2xl), map-get($sizes, sm), map-get($sizes, sm), $primary);
}