@import "config";

.sideContent {
  position: relative;
  &-top {
    position: relative;

    &-image {
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 15px;
      &::after {
        content: "";
        @include absolute;
        width: 100%;
        height: 300px;
        background: rgba($primary, 0.9);
        clip-path: polygon(0 0, 0 40%, 45% 0);
      }
    }

    &-social {
      position: absolute;
      @include flex(space-between, center, none);
      bottom: -10px;
      left: 20px;
      
    }
  }

  &-bottom {
    @include flex(center, center, center);
    padding: 20px;
  }

  &-bottom-buttonGroup {
    position: relative;
    bottom: -90px;
    @include flex(center, center, center);
    button {
      margin: 2px;
    }
  }
}

.progress {
   background-color: $gray-dark;
   margin: 5px auto;
   border-radius: 30px;
   padding: 10px;
}
